.mainwrapper
  .mainheader
    .groupinfo
      .groupinfo__show
        .groupinfo__show--groupname 
          = @group.name
        %ul.groupinfo__show--groupmember 
          Member:
          - @users.each do |user|
            %li.groupinfo__show--groupmember__name
              = user.name
      .groupinfo__groupedit
        = link_to edit_group_path(@group), class: "groupinfo__groupedit--link" do
          %p Edit
  .maincontents
    = render @messages
  .mainbottom
    = form_for [@group, @message] do |f|
      .messagebox
        .messageform
          = f.text_field :content, class: 'messageform__text', placeholder: "type a message"
          = f.label :image, class: "messageform__file" do
            = icon('fa', 'image', class:"messageform__file--icon")
            = f.file_field :image, class: 'messageform__file--image'
        = f.submit "Send", class: 'messagesubmit'