.mainwrapper
  .mainheader
    .groupinfo
      .groupinfo__show
        .groupinfo__show--groupname チーム1 
        %ul.groupinfo__show--groupmember 
          Member：
          %li.groupinfo__show--groupmember__name
            koyo
          %li.groupinfo__show--groupmember__name
            fujise
      .groupinfo__groupedit 
        %p Edit
  .maincontents
    = render @messages
  .mainbottom
    = form_for [@group, @message] do |f|
      .messagebox
        .messageform
          = f.text_field :content, class: 'messageform__text', placeholder: "type a message"
          = f.label :image, class: "messageform__file" do
            = icon('fa', 'image', class:"messageform__file--icon")
            = f.file_field :image, class: 'messageform__file--image'
        = f.submit "Send", class: 'messagesubmit'