.sidewrapper
  .sideheader
    .menubox
      .menubox__username 
        = current_user.name
      .menubox__icons
        = link_to new_group_path , class:"menubox__icons" do
          = icon('far', 'edit', class:"menubox__icons--creategroup")
        = link_to edit_user_path(current_user), class:"menubox__icons" do
          = icon('fas', 'cog', class:"menubox__icons--setting")
  .sidecontents
    .grouplists
      .grouplists__list
        %p.grouplists__list--groupname チーム1
        %p.grouplists__list--latestmessage  こんにちは
      .grouplists__list
        %p.grouplists__list--groupname チーム1
        %p.grouplists__list--latestmessage  こんにちは
